<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/rsa.css" media="screen"/>
</head>

<title>RSA Introduction</title>

<h1>RSA Encryption</h1>

<p>RSA encryption is a form of asymmetric encryption. This is where there are two separate keys,
    one for encryption and one for decryption. These two keys are generated through a mathematical process.
    The next few pages demonstrate RSA encryption.
</p>


<div class='container'>
    <p>RSA encryption requires two unique prime numbers to be generated. Click the button below to generated
        two random 1024 bit prime numbers to use.
    </p>
    <a href='/rsa/prime-gen'><button class='button'>Generate Prime Numbers</button></a>
</div>
