input[type="submit"] {
    background-color: #ffffff;
    border: 2px solid #40aa44;
    color: #000000;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #40aa44;
    color: white;
}