<!doctype html>

<title>Contents of Packet</title>

<h1>Contents of Packet</h1>

<h3>Ethernet Header</h3>
<p>{{eth}}</p>

<h3>IP Header</h3>
<p>{{ip}}</p>

<p><b>Source IP Address:</b> {{hex_src_ip}} = {{conv_src_ip}}</p>
<p><b>Destination IP Address:</b> {{hex_dest_ip}} = {{conv_dest_ip}}</p>

<h3>TCP Header</h3>
<p>{{tcp}}</p>

<p><b>Source TCP Port:</b> {{hex_src_port}} = {{conv_src_port}}</p>
<p><b>Destination TCP Port:</b> {{hex_dest_port}} = {{conv_dest_port}}</p>


<h3>Packet Data</h3>
<p>{{data}}</p>
