<!doctype html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" media="screen"/>
    <!-- Javascript file for scripts. Not being used due to Jinja templates and issues
        around DOM and Jinja when scripts are in separate file -->
    <!-- <script type="text/javascript" src="static/js/scripts.js"></script> -->
</head>

<title>Transaction Details</title>

<h1>Full Transaction From {{ client_ip }}</h1>

{# Using Jinja to loop over all the headers in the list #}
{% for i in range(0, eth|length) %}

<h3>{{ i+1 }}</h3>

<button type="button" class="collapsible">Ethernet Header</button>
<div class="content">
    <packettext>{{ eth[i]["full_contents"] }}<packettext/>
</div>
<button type="button" class="collapsible">IP Header</button>
<div class="content">
    <packettext>{{ ip[i]["full_contents"] }}<packettext/>
</div>
<button type="button" class="collapsible">TCP Header</button>
<div class="content">
    <packettext>{{ tcp[i]["full_contents"] }}<packettext/>
</div>
{# If the HTTP data is empty (i.e. no information), then change the collapsible's
title and the contents to tell the user that. #}
{% if http[i]["full_contents"]|length > 0 %}
<button type="button" class="collapsible">HTTP Data</button>
<div class="content">
    <packettext>{{ http[i]["full_contents"] }}<packettext/>
</div>
{% else %}
<button type="button" class="collapsible">HTTP Data (NONE)</button>
<div class="content">
    <packettext>This packet is used for Transport layer communication (i.e. TCP)
    and there is therefore no HTTP data present.</packettext>
</div>
{% endif %}
{% endfor %}

<script>
var collapsible = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < collapsible.length; i++) {
  collapsible[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>
