<!doctype html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/call_sniffer',
                        function(data) {
                        // blank
                 });
                 return false;
            });
    });
</script>
                    
<title>First Page</title>

<h1>TCP/IP Stack Demonstrator</h1>

<div class='container'>
    <h3>A Level</h3>
    <form>
        <a href=# id=test><button class='btn btn-default'>A Level</button></a>
    </form>
</div>
