<!doctype html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/first_page.css" media="screen"/>
</head>

<title>TCP/IP</title>

<h1>TCP/IP Stack Demonstrator</h1>

<p>This website is a demonstrator for the TCP/IP stack concept which is
     taught at both A Level and GCSE in AQA Computer Science. This project
     makes use of a raw socket and makes requests that allow you as the
     user to see a complete transaction that occurs between you and the
     server, alongside explanations and translations of the relevant header
     sections for the specification.</p>

<div class='container'>
    <h3>Initialise</h3>
    <form action=/ method="POST">
        <input type="submit" value="Start sniffer!">
    </form>
</div>


<div class='container'>
    <h3>RSA Encryption</h3>
    <p>This website also has an RSA encryption demonstrator. Click below to access it.</p>
    <a href='/rsa/intro'><button class='button'>RSA Encryption</button></a>
</div>
